@media screen and (min-width: 768px) {

    /* Local onde aparece a mensagem criptografada */

    .div-criptografado,.sobrepor-criptografado, .texto-criptografado {
        
        width: 43.6875rem;
        height: 15.625rem;    
    }


/* Local destinado aos botões */
    
    #botoes {
        flex-direction: row;
    }
    
    #div-alerta {
    
        width: 37.5rem;
        font-size: 0.9rem;
        justify-content: first baseline;
        font-family: 'Roboto', sans-serif;
    }
    
    .criptografar {
    
        padding: 1.5rem;
        margin-right: 2rem;
    }
    
    .decriptografar {
        width: 20rem;

        padding: 1.5rem;
    }
    
}

@media screen and (min-width: 1024px) {

    body{

        width: 80%;
        margin: 0 auto;
    }

    .logo-alura {

        position: relative;

    }
        /*   Local das minhas redes sóciais para contato */

    .minhas-redes {

        flex-direction: column;
        justify-content: space-around;

        position: absolute;
        
        width: 3.75rem;;
        height: 18.75rem;
        top: 20%;
        transform: 100ms;
        border-radius: 30px;
    }

    .github,.linkdin ,.whatsapp{

        opacity: 0.3;
    }

    /* Local onde o usúario digita seu texto */

    .container {

        flex-direction: row;
        align-items: flex-start;
        height: 40rem;

    }
    .container-msg-botao {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .container-mensagem {

        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;

        height: 20.9rem;

    }

    #mensagem-usuario{

        display: block;
        margin: 8%;

        width: 400px;
        height: 3rem;
    }

    /* Local onde aparece a mensagem criptografada */

    .div-criptografado, .sobrepor-criptografado,.texto-criptografado {

        width: 20rem;
        height: 35.9rem;
    }

    .section-botoes {

        justify-content: flex-start;
    }

    .sobrepor-criptografado {

        background: url(../img/garoto_lupa.svg);
        background-repeat: no-repeat;
        background-position: 0 100px;
    }
}