body {

    background: #E5E5E5;
    margin: 0 auto;
    width: 100%;
}

.logo-alura {
    position: fixed;
    margin: 2% 5%;
    padding: 0 2%;
}

/* Local das minhas redes sóciais para contato */

.minhas-redes {

    position: fixed;
    background: #5488c32a;
    width: 65px;
    height: 70%;
    left: 0;
    top: 15%;
    transform: 100ms;
    border-radius: 30px;
    transition: 1s background;
}

.github {

    position: absolute;
    width: 40px;
    top: 35%;
    margin: 10px;
    border: 1px solid rgba(6, 38, 98, 0.468);
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
    opacity: 0.3;
}

.linkdin {

    position: absolute;
    width: 40px;
    top: 45%;
    margin: 10px;
    border: 1px solid rgba(6, 38, 98, 0.468);
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
    opacity: 0.3;
}

.whatsapp {

    position: absolute;
    width: 40px;
    top: 55%;
    margin: 10px;
    border: 1px solid rgba(6, 38, 98, 0.468);
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
    opacity: 0.3;


}

.minhas-redes:hover {

    background: #5488c3;
    opacity: 1;

}

.github:hover,
.linkdin:hover,
.whatsapp:hover {

    background: #cedcea;
    opacity: 1;

}

.github:active,
.linkdin:active,
.whatsapp:active {

    background: #0ae469;
}

/* Local onde o usúario digita seu texto */

#mensagem-usuario {

    position: fixed;
    background: #e5e5e500;
    border: none;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 26px 0;
    font-size: 2em;
    margin: 3% 8%;
    resize: none;
    overflow: auto;
    text-transform: lowercase;
    width: 44%;
    height: 40%;
    left: 10%;
    top: 15%;

}

#mensagem-usuario::placeholder {

    color: #02387a;
}

/* Local onde aparece a mensagem criptografada */

.texto-criptografado,
.texto-sobrepor {

    position: fixed;
    top: 30px;
    end: 2%;
    /* 
    width: 350px;
    height: 600px;*/

    width: 20%;
    height: 75%;

    background: #FFFFFF;
    border-radius: 32px;
    margin: 0 4% 4% 0;
    left: 72%;
    padding: 40px 20px;
    resize: none;
    overflow: auto;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300px;
    font-size: 2em;
    color: #0A3871;
    transition: 1s background;

}

/* Img e Paragrafos lado direito, local resposta */

.garoto_lupa {

    position: fixed;
    top: 15%;
    margin: 0 4% 4% 0;
    left: 72%;
    width: 23%;
}

.mensagem1 {

    color: #0A3871;
    position: fixed;
    top: 55%;
    font-family: 'Inter';
    font-size: 2em;
    font-weight: bold;
    margin: 0 4% 4% 0;
    padding: 4% 2%;
    left: 70%;
    text-align: center;
    width: 23%;
}

.mensagem2 {

    color: #495057;
    position: fixed;
    top: 69%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1em;
    font-weight: 400;
    margin: 0 4% 4% 0;
    padding: 4% 2%;
    left: 72.5%;
    text-align: center;
    width: 18%;
}

/* Local destinado aos botões*/


#botoes {

    width: 60%;
    height: 13%;
    position: fixed;
    margin: 0 auto;
    bottom: 15%;
    text-align: center;
    left: 10%;
    bottom: 9%;
}

#alerta {
    position: fixed;
    width: 60%;
    height: 13%;
    margin: 0 auto;
    bottom: 15%;
    left: 20%;
    bottom: 12%;
    margin: 0 2% 0 2%;
}

.criptografar {

    width: 30%;
    height: 70%;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #a7c3f0;
    border-width: 1px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    transition: 300ms background;
}

.decriptografar {

    width: 30%;
    height: 70%;
    margin-left: 20px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #a7c3f0;
    font-size: 22px;
    color: #0A3871;
    cursor: pointer;
    transition: 300ms background;
}

.copiarMensagem {

    position: fixed;
    width: 20.5%;
    height: 67px;
    background: #FFFFFF;
    border-radius: 24px;
    border: 1px solid #a7c3f0;
    font-size: 22px;
    color: #0A3871;
    left: 72%;
    bottom: 10%;
    transition: 300ms background;
    margin: auto 1% 1% 1%;
    cursor: pointer;
}

.criptografar:hover {

    background: #0a3871d6;
}

.decriptografar:hover {

    background: #c0cee0;
}

.copiarMensagem:hover {

    background: #97b7ef29;
}

.criptografar:active {

    background: #548ce7;
}

.decriptografar:active {

    background: #548ce7;
}

.copiarMensagem:active {

    background: #a7c0e8;
}


/* Local onde é substituido a parte inicial, do qual aparece o garoto da lupa 
e os paragrafos para local da mensagem criptografada*/

.garoto_lupa2 {

    display: none;

}

.notmensage {

    display: none;
}

.notmensage2 {

    display: none;
}

.texto-sobrepor-none {

    display: none;
}

footer {
    position: fixed;
    background: #E5E5E5;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    padding: 25px 0;
    margin: 0 auto;
}

.copyright {

    color: #000000a2;
    font-size: 13px;
}