body {

    background: #E5E5E5;
    margin: 0 auto;
    width: 1300px;
}

.vetor {

    margin: 20px 20px;
}

main {

    display: inline;
}

#mensagem-usuario {

    background: #E5E5E5;
    border: none;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300px;
    font-size: 32px;
    line-height: 130%;
    margin: 3% 8%;
    resize: none;
    text-transform: lowercase;
}

#mensagem-usuario::placeholder {

    color: #02387a;
}

.texto-criptografado,
.texto-sobrepor {

    position: absolute;
    width: 360px;
    top: 30px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 0 40px;
    left: 60%;
    padding: 40px 20px;
    resize: none;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300px;
    font-size: 32px;
    color: #0A3871;
    transition: 1s background ;

}

/*#texto-sobrepor::placeholder {    // Tinhca colocado esse placeholder para colocar a mensagem1 porem achei 
                                        mas facil declarar um <p> e criar outro id, sem a necessidade do placeholde
                                        e fazendo a remoção do mesmo no JavaScript
  color:#0A3871;
  position: absolute;
  top:450px;
  font-size: 32px;
  font-weight: bold;
 
} */

.texto-sobrepor-none {

    display: none;
}

.mensagem1 {

    color: #0A3871;
    position: absolute;
    top: 430px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: bold;
    margin: 0 40px;
    padding: 40px 20px;
    left: 60%;
    text-align: center;
    width: 360px;
}

.mensagem2 {

    color: #495057;
    position: absolute;
    top: 520px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 0 40px;
    padding: 40px 20px;
    left: 60%;
    text-align: center;
    width: 360px;
}

#botoes {

    position: absolute;
    margin: 1% 6%;
}

.criptografar {

    width: 300px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #a7c3f0;
    border-width: 1px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    transition: 300ms background ;
}

.decriptografar {

    width: 300px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #a7c3f0;
    font-size: 22px;
    color: #0A3871;
    cursor: pointer;
    transition: 300ms background ;
}

.copiarMensagem {

    position: absolute;
    width: 300px;
    height: 67px;
    background: #FFFFFF;
    border-radius: 24px;
    border: 1px solid #a7c3f0;
    margin: 0 40px;
    font-size: 22px;
    color: #0A3871;
    margin: 25px 40px;
    left: 63%;
    cursor: pointer;
    transition: 300ms background ; 

}

.criptografar:active {

    background: #548ce7;
}

.decriptografar:active {

    background: #548ce7;
}

.copiarMensagem:active {

    background: #a7c0e8;
}

.resposta {

    position: absolute;
    top: 180px;
    margin: 0 40px;
    left: 60%;
}

.resposta2 {

    display: none;
    
}
.notmensage {

    display: none;
}

.notmensage2 {

    display: none;
}
